

#w3-header div.banner{float:right; color:white; font-size:12px;}
#w3-header div.banner img {height:18px; padding:1px;}
#w3-header{background:#353D40; width:100%; height:20px;}
.form-title{margin-bottom:5px; padding-bottom:0px;}
#navbar-top{margin-top:0px; border-radius:0px; margin:0px;}
.disabled{opacity:0.5;}
.footer .container {text-align:center;}
.footer span {margin-right:10px;}
.footer a, .footer b{font-size:12px;}

.required-label.glyphicon-asterisk{font-size:12px; color:red;}

div.project-box{width:200px;float:left; margin:20px; height:200px; background:#efefef;}

a.p-name{margin-bottom:10px; font-size:14px; }

.error{border:solid 2px red;}
img.small-logo{height:20px;}
.subtext{font-size:12px; padding-top:20px;}
.center-form{margin-top:20px;}
.filters label{font-size:12px;}
.filters input{padding:2px 5px 2px 10px; height:26px; font-size:12px;}
.filters .form-group{margin-bottom:5px;}
.table-main{font-size:12px;}
.container_table{width:95%; margin-top:10px;}
.toolbar{background:#efefef; margin-bottom:5px;}
.toolbar a{font-size:12px;}
.toolbar a.active{color:black;}
.toolbar a:hover{cursor:pointer; text-decoration:none;}

.save{width:200px;}
.cancel{width:100px; margin-left:10px;}
.return{width:250px;}

div.save-buttons{width:100%; height:30px; text-align:right; margin-bottom:10px;}
#sub-nav{padding-right:20px;height:20px; padding:0px; margin:0px;vertical-align:top; }

#sub-nav li a{border:solid 1px white; 
  padding:5px 15px 5px 15px;font-size:12px; 
  margin-right:5px;background:#1bb199; 
  border-radius:2px;
  color:black; margin-left:10px;}
#sub-nav li a:hover{transition: border-color .25s ease-in-out;
   -moz-transition: border-color .25s ease-in-out;
   -webkit-transition: border-color .25s ease-in-out;
   border-color:green; cursor:pointer;}

#page{margin-top:15px;}

.glyphicon {margin-left:5px;}

form.readonly input{
  border:solid 0px white;
  background:white;
    box-shadow:inset 0 0 0 white;
  outline:none;
}
form.readonly input:hover, form.readonly input:focus{
    box-shadow:inset 0 0 0 white;
   outline:none;
    border:0; 
     border:solid 0px white;
}
form.readonly .help-block{display:none;}

form.readonly button.btn-primary{display:none;}



body { padding-bottom: 70px; }
h1{color:rgb(29, 31, 46;);  padding-top:0px; margin-top:0px; font-size: 30px;padding-bottom:5px;margin-bottom:20px;}
.nav-sidebar li {}

form.form {font-size:14px;}

#accordion .panel-body ul li{font-size:12px;}
#accordion .panel-body ul li:hover{cursor:pointer;}

/* Style for driving table display */
h5.special-title {font-weight:900; font-size:14px;
  margin-bottom:0px; 
  padding-bottom:5px;}
div.details{font-size:14px; width:500px;}
.breadcrumb{background:none; padding:0px;}
h5 div.options{float:right; font-weight:300; font-size:12px;}




.form-control{box-shadow: inset 0 0 0 ;}

form label{font-size:14px;}
form input.form-control, form select.form-control, form textarea.form-control {font-size:12px; border:solid 2px #E1E1E1; border-radius:0;}
form input.form-control:focus, .fb-field-wrapper input input:focus, .fb-field-wrapper select:focus, form select.form-control:focus, form textarea.form-control:focus{box-shadow:0px; transition: border-color .25s ease-in-out;
   -moz-transition: border-color .25s ease-in-out;
   -webkit-transition: border-color .25s ease-in-out;
   border-color:;#279BD5;

 }

.glyphicon{margin-right:5px;}

 form input.form-control:hover, .fb-field-wrapper input:hover, .fb-field-wrapper select:hove, form select.form-control:hover, form textarea.form-control:hover{box-shadow:0px; transition: border-color .25s ease-in-out;
   -moz-transition: border-color .25s ease-in-out;
   -webkit-transition: border-color .25s ease-in-out;
   border-color:;#82C2E1;

 }
.help-block{margin-left:10px; font-size:12px;}
div.options{opacity:0;}
div.options a{margin-left:10px;}
div.options a:hover{cursor:pointer;}
table tr:hover div.options{opacity:1;  transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;}
.nav.nav-tabs{font-size:14px;}

h4.panel-title a{font-size:12px;padding:2px;}
.panel-heading{padding:5px;}
.panel-body{font-size:10px;}

.panel.panel-default{border-radius:0px;}

.btn-form{margin-right:10px;}


table.table {1.2em}

div.top{width:100%;} /* The wrapper of the top */
.dataTables_length label{font-size:10px; font-weight:400; padding:0px;}
.dataTables_length {float:left; margin-left:10px; margin-top:4px;}
.dataTables_info {float:left; font-size:10px; font-weight:400; padding:0px;margin:0px;}
.table-wrap{padding-top:10px;}
.dataTables_filter{float:right;font-size:12px;}
.dataTables_filter input {border-radius:2px; border:solid 1px silver;}
.dataTables_paginate{font-size:12px; float:right; width:300px; margin-top:-30px;}
 a.paginate_button.current {padding:2px;margin:0px; background:#1bb199; 
  padding:5px; border-radius:2px; 
  color:black;}

.DTTT_container a {font-size:12px; margin-right:5px;background:white; 
  padding:5px; border-radius:2px; border:solid 2px #1bb199;
  color:black;}
  .DTTT_container a:hover{cursor:pointer; text-decoration:none; background:#1bb199;}
#add-list-side{margin-left:0px; padding-left:0px;}
  #add-list-side li{list-style-type:none;margin-left:0px; padding-left:0px;margin-bottom:5px;}

div.bottom{padding-top:10px;}


/* Development Project */

.fb-tabs li {border-radius:0px; }
.fb-tabs li a{border-radius:0px; }

.fb-field-wrapper input, .fb-field-wrapper select, .fb-field-wrapper textarea{font-size:12px; border:solid 2px #E1E1E1; border-radius:0; padding:5px; width:100%;

  }

   .fb-common-wrapper input, .fb-common-wrapper select, .fb-common-wrapper textarea {font-size:12px; border:solid 2px #E1E1E1; border-radius:0; padding:5px; width:100%;
margin-bottom:5px;
  }
 .fb-common-wrapper input:hover, .fb-common-wrapper select:hover, .fb-common-wrapper textarea:hover{border: solid 2px #279BD5; box-shadow:0px; transition: border-color .25s ease-in-out;
   -moz-transition: border-color .25s ease-in-out;
   -webkit-transition: border-color .25s ease-in-out;
   border-color:#279BD5;

 }
  .fb-common-wrapper input:focus, .fb-common-wrapper select:focus, .fb-common-wrapper textarea:focus{border: solid 2px #279BD5; box-shadow:0px; transition: border-color .25s ease-in-out;
   -moz-transition: border-color .25s ease-in-out;
   -webkit-transition: border-color .25s ease-in-out;
   border-color:#279BD5;

 }


.fb-add-field-types .fb-button {border:solid 2px #279BD5; outline:none; background:#279BD5;}
.fb-add-field-types .fb-button:hover a {color:white; text-decoration:none; underline:none;}
.fb-add-field-types .fb-button:hover { -moz-transition: border-color .25s ease-in-out;
   -webkit-transition: border-color .25s ease-in-out;
   border-color:;#82C2E1;}





